<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yvmoux.blog.mapper.ArticleMapper">

<!--    <select id="getListByCondition" resultType="com.yvmoux.blog.entity.Article">-->
<!--        select * from article a-->
<!--        <where>-->
<!--            <if test="userId != null">-->
<!--                and a.author_id = #{userId}-->
<!--            </if>-->
<!--            <if test="status != null">-->
<!--                and a.status = #{status}-->
<!--            </if>-->
<!--            <if test="tagName != null">-->
<!--                and exists(-->
<!--                    select 1-->
<!--                    from article_tag at-->
<!--                    join tag t on at.tag_id = t.id-->
<!--                    where at.article_id = a.id-->
<!--                        and t.name = #{tagName}-->
<!--                )-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->
</mapper>